.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("https://media.istockphoto.com/id/1191251531/vector/seamless-pattern-with-red-hearts-romantic-creamy-peach-background-for-textile-wallpaper.jpg?s=612x612&w=0&k=20&c=RqOsWkdXpYGaLs6uJ8-7Z0MjfXlIY73--E_oTjW1ZcE="); /* URL of the heart background image */
  background-size: cover; /* Cover the entire container */
  background-repeat: repeat; /* Repeat the image to fill the container */
}

.yesButton {
  background-color: green;
  color: white; /* Set text color to white */
  border: none;
  padding: 10px 20px;
  margin-right: 10px; /* Add some margin between buttons */
  cursor: pointer;
  outline: none;
}

.noButton {
  background-color: red;
  color: white; /* Set text color to white */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}
